.articles {
	margin: 1.5rem 2rem;
}

.articles-header {
	display: flex;
	justify-content: space-between;
}

.articles-items {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.articles-item {
	margin: 10px;
	padding: 1.5rem;
	background: rgba(204, 202, 202, 0.5);
}

.articles-item-title {
	font-size: 1.2rem;
	font-weight: 700;
}
